@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    background: #f3f5f9;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    width: 20%;
    height: 100%;
    background: #0d3648;
    padding: 30px 0px;
    position: fixed;
}

.sidebar-alert{
    width: 40%;
    height: 100%;
    background: #0d3648;
    padding: 30px 0px;
    position: fixed;
}

.wrapper .sidebar ul li.active{
    background: #FFFFFF;
}

.wrapper .sidebar h2{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.sidebar-alert h2{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
}

.sidebar-alert ul li{
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
}


.wrapper .sidebar ul li a{
    color: #fff;
    display: block;
    text-align: center;
}

.sidebar-alert ul li a{
    color: #fff;
    display: block;
    text-align: center;
}

.wrapper .sidebar ul li.active a{
    color: #0d3648;
}

.sidebar-alert ul li.active a{
    color: #0d3648;
}

.wrapper .sidebar ul li a .fas{
    width: 25px;
}

.sidebar-alert ul li a .fas{
    width: 25px;
}

.wrapper .sidebar ul li:hover{
    background-color: #124d65;
}

.sidebar-alert ul li:hover{
    background-color: #124d65;
}

.wrapper .sidebar ul li:hover a{
    color: #fff;
}

.sidebar-alert ul li:hover a{
    color: #fff;
}

